@import 'tailwindcss';
@plugin '@tailwindcss/forms';
@plugin '@tailwindcss/typography';

@custom-variant dark (&:where(.dark, .dark *));

@theme {
	--font-inter: 'Inter', sans-serif;
	--font-grotesk: 'Space Grotesk', sans-serif;
}

* {
	font-family: var(--font-inter);
}

h1, h2, h3, h4, h5, h6 {
	font-family: var(--font-grotesk);
}
